* {box-sizing: border-box}

body {
	margin: 0;
	padding: 0;
}

#wrapper {
	width: 100%;
	height: 100vh;
	padding: auto;
	padding-top: 30vh;
	background: url("https://thenypost.files.wordpress.com/2014/06/rock-paper-4.jpg");
	background-size: cover;
	background-position: center;
}

.container-fluid {
	margin: 0 auto;
	height: auto;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.6);
}

.container {
	margin: 40px auto;
}
